 .ind {
  padding-left: 3em;
}
  /* Soalan lazim */
   .collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* soalan lazim tamat*/

    /* contact card */
  html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: auto;
}

.button:hover {
  background-color: #555;
}
/* contact card tamat */
  /* jadual mula */
  #jadual {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#jadual td, #jadual th {
  border: 1px solid #ddd;
  padding: 8px;
}

#jadual tr:nth-child(even){background-color: #f2f2f2;}

#jadual tr:hover {background-color: #ddd;}

#jadual th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #202d40;
  color: white;
}
  /* jadual tamat */
  /* Kelebihan mula */
    div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/* Kelebihan end */
/* custom css */
/* Div Box with shadow */
.div-evun-box1 {
  background-color: lightgrey;
  border: 15px solid black;
  padding: 50px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.evun-container {
  display: flex;
box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.evun-container > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.evun-container2 {
  display: flex;
box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.evun-container2 > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.evun-container3 {
  display: flex;
box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.evun-container3 > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.evun-container3 p {
 margin-top: 10px;
}
.evun-container4 {
  display: flex;
box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.evun-container4 > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.evun-container5 {
  display: flex;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.evun-container5 > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
.evun-container6 {
  display: flex;
box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.evun-container6 > div {

  margin: 6px;
  padding: 6px;
  font-size: 15px;
}
.evun-container7 {
  display: flex;
box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.evun-container7 > div {

  margin: 10px;
  padding: 10px;
  font-size: 15px;
}
/*Heading */
.heading1 {
margin-top:10px;
    max-width:95%;
    padding:6px 2px;
color: #000000;
    padding-left:10px;
    margin-bottom:10px;
    font-size:20px;
    font-family:'Oswald',sans-serif;
    background-color:#F8FAFD;
    text-decoration:none;
    border-left:10px solid #05A8FC;
    box-shadow:1px 1px 2px gainsboro;
transition: border-left .777s;
-webkit-transition: border-left .777s;
-moz-transition: border-left .777s;
-o-transition: border-left .777s;
-ms-transition: border-left .777s;
}
.heading1:hover {
  border-left:30px solid #F7BE32 ;
}
.heading2 {
           font-weight: 600;
           font-size: 18px;
           background: #0194ff;
           color: #fff;
           padding: 10px;
           line-height: 1.7em;
           box-shadow: 0 2px 10px 0 #cac9c9;
           text-align: center;
           user-select: none;
           cursor: pointer;
           }
           
.heading2:hover {
  border-bottom:5px solid #F7BE32 ;
 background: rgb(2,0,36);
background: linear-gradient(52deg, rgba(2,0,36,1) 0%, rgba(9,9,223,1) 35%, rgba(0,212,255,1) 100%);
}
.heading3 {
           font-weight: 600;
           font-size: 18px;
           background-image: linear-gradient(to right, #ff5f00, #ff782f, #ff8d4e, #fea26d, #fbb58c);
           color: #fff;
           padding: 10px;
           line-height: 1.7em;
           box-shadow: 0 2px 10px 0 #cac9c9;
           text-align: left;
           user-select: none;
           cursor: pointer;
           border-left: 20px solid red;
           }
           
.heading3:hover {
  border-left:30px solid #050505   ;
  background: rgb(165,169,170);
background: linear-gradient(52deg, rgba(165,169,170,1) 28%, rgba(233,233,241,1) 69%, rgba(216,215,226,1) 100%);
color: black;
}
.heading4 {
           font-weight: 600;
           font-size: 18px;
           background: #fff;
           color: #000;
           padding: 10px;
           line-height: 1.7em;
           box-shadow: 0 2px 10px 0 #cac9c9;
           text-align: center;
           user-select: none;
           cursor: pointer;
           border-left: 20px solid #ff5f00;
           border-right: 20px solid #ff5f00;
           border-radius: 5px 55px 5px 55px;
           }
           
.heading4:hover {
  border-left:30px solid #050505;
  background:white ;
color: #ff5f00;
border-right:100px solid #050505;
border-left:100px solid #050505; 
}
  .evun-icon {
   width: 80px; 
   height:auto;
    margin: 30px 5px 30px 30px;
  }
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
  .info {
    float:left;
    border-color: black;
    border-style: solid;
    width:100%;
    height:auto;
    border: 3px solid #FEEFD3  ;
    background-color: #FDEBD0;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    border-radius:5px;
  }
  .info p {

    position: centre;
    margin: 0;
    font-size: 15px;
    color: #4B3202 ;
  }
  .info i {
    margin: 10px 10px 10px 10px;
    float:left;
    text-align: center;
    vertical-align: middle;
    height: auto;
  }
  .info h2 {
    margin-top: 5px;
    margin-bottom:0px;
  }

